/*******
Post/Feed-Lists
********/





/* news and posts entry info styles */

/*
div.entry-content:after {
  content: "";
  display: table;
  clear: both;
}


.entry-meta-footer {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 5px 0px 10px 0px;
  font-size: 13px;
  font-style: italic;
}

.entry-meta-footer .permalink {
  font-style: normal;
  margin-left: 5px;
  margin-right: 5px;
  text-align: right;
}
.entry-meta-footer .edit-link a {
  font-style: normal;
  color: #333;
  text-decoration: none;

}
.entry-meta-footer .edit-link a:hover {
  text-decoration: none;
}

.entry-meta-footer .edit-link {
  margin-left: 5px;
  margin-right: 5px;


}

.entry-meta-footer .edit-link, .entry-meta .permalink {
  text-align: right;
}

#nav-below .nav-previous {}


*/



ol.post-archive {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-archive.small-with-photos .post-excerpt:before, .post-archive.small-with-photos .post-excerpt:after {
  content: " ";
  display: table;
}
.post-archive.small-with-photos .post-excerpt:after {
  clear: both;
}
.post-archive.small-with-photos .post-excerpt h2 {
  line-height: 1em;
}
.post-archive.small-with-photos .post-excerpt h2 a {
  font-size: 22px;
  color: #444444;
}
.post-archive.small-with-photos .post-excerpt.no-excerpt + .post-excerpt h2 {
  margin-top: 0;
}

.post-archive.small-with-photos .post-excerpt img.wp-post-image {
  width: 22%;
  display: block;
  float: left;
  margin-right: 3%;
}
.post-archive.small-with-photos .post-excerpt img.wp-post-image + article {
  float: left;
  width: 75%;
}
.post-archive.small-with-photos .post-excerpt article {
  width: 100%;
}

.post-archive.small-with-photos.feature .post-excerpt img.wp-post-image {
  width: 75%;
  display: block;
  float: none;
  margin-right: 0;
}
.post-archive.small-with-photos.feature .post-excerpt img.wp-post-image + article {
  float: none;
  width: 100%;
}

@media (max-width: 768px) {

  .post-archive.small-with-photos .post-excerpt img.wp-post-image {
    width: 75%;
    float: none;
    margin-right: 0;
  }
  .post-archive.small-with-photos .post-excerpt img.wp-post-image + article {
    float: none;
    width: 100%;
  }
  .post-archive.small-with-photos .post-excerpt article {
    width: 100%;
  }
}

.post-archive.small-with-photos .post-excerpt .post-date {
  color: #97121B;
  font-weight: bold;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.post-archive .news-subheading {
  font-size: 16px;
}

.post-archive.small-with-photos .post-excerpt article {
  color: #938E8E;
}
.post-archive.small-with-photos .post-excerpt .fade-truncate {
  position: relative;
}
.post-archive.small-with-photos .post-excerpt.no-excerpt .fade-truncate:after {
  width: 100%;
  height: 50px;
  content: "";
  position: absolute;
  bottom: 0;
  pointer-events: none;
  display: block;

  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.grey-bg .post-archive.small-with-photos .post-excerpt.no-excerpt .fade-truncate:after {
  background: -moz-linear-gradient(top,  rgba(238,238,238,0) 0%, rgba(238,238,238,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,0)), color-stop(50%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 50%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}



/*
.faux-dropdown {
  position: relative;
  padding: 10px;
  background: #898A8F;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 0 13px;
}

.faux-dropdown:after {
  content: '\e829';
  font-family: "uw_";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;

  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0 ;

  position: absolute;
  right: 0;
  width: 32px;
  top: 0;
  bottom: 0;
  background: #ADAEB2;
  text-align: center;
  line-height: 40px;
}

.faux-dropdown ul.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #ADAEB2;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  overflow-y: auto;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  max-height: 0;
}

.faux-dropdown.active {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

@media (max-width: 991px) {

  .faux-dropdown ul.dropdown {
    position: relative;
    margin-top: 10px;
    height: 0;
  }

  .faux-dropdown {
    padding: 10px 0 0 0;
  }

  .faux-dropdown.active {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .faux-dropdown span {
    padding-left: 10px;
  }

  .faux-dropdown.active ul.dropdown {
    height: auto;
  }
  .faux-dropdown.active ul.dropdown[style] {
    max-height: none !important;
  }

}

.faux-dropdown ul.dropdown li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}

.faux-dropdown ul.dropdown li a:hover {
  background: #8A8A8D;
}

.faux-dropdown.active ul.dropdown {
  opacity: 1;
  pointer-events: auto;
}

.faux-dropdown.active:after {
  content: '\e826';
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0 ;
}

.faux-dropdown ul.dropdown ul li a {
  padding-left: 40px;
}

.faux-dropdown ul.dropdown ul ul li a {
  padding-left: 60px;
}

.is_stuck {
  z-index: 1;
}
*/

/*******
Documents and document lists
********/

.doc-list {
  &.callout {
    .lil-jumbo;
  }
  /* wraps around file info to seporate thumbnail image */
  div.doc-image-about {
    display: table;
    margin-bottom: @line-height-computed;
  }
}

/* file thumbnail image */

img.doc-image {
  float:left;
  margin-right: 10px;
}

.doc-title {
  font-weight: bold;
  margin-bottom: @line-height-base;
}

/* file icon below flag */

  .doc-icon {
    /* display: inline-block; causing bad floats on full documents lists
    position: absolute;*/
    padding-right: 46px;
  &:after {
    content: '\f15b';
    color: #fff;
    font-family: "uw_";
    font-size: @font-size-base * 1.7;
    text-shadow: 0px 0px 4px #999;
    position: absolute;
    margin: -3px 20px;
    line-height: 1.2;
  }
}

/* file type flag */

  .file-icons {
    font-size: @font-size-base * .6;
    padding: 1px 3px;
    color: #fff;
    margin: 5px 3px 3px 8px;
    font-family: @font-family-sans-serif;
    position: absolute;
    z-index: 1;
    box-shadow: 1px 1px 2px #aaa;
    line-height: 1.2;
  }

/* file types */
.zip {
  &:after {
    content: 'ZIP';
    background: rgba(27, 23, 27, 0.57);
    .file-icons;
  }
}
.bmp {
  &:after {
    content: 'BMP';
    background: rgba(66, 69, 15, 0.82);
    .file-icons;
  }
}
.wvx {
  &:after {
    content: 'WVX';
    background: #374951;
    .file-icons;
  }
}
.pdf {
    &:after {
      content: 'PDF';
      background: #990013;
      .file-icons;
    }
  }
.jpg, .jpeg {
  &:after {
    content: 'JPG';
    background: #421b99;
    .file-icons;
  }
}
.png {
  &:after {
    content: 'PNG';
    background: #99454c;
    .file-icons;
  }
}
  .xls, .xlsx {
    &:after {
      content: 'XLS';
      background: #336b19;
      .file-icons;
    }
  }
  .mp3 {
    &:after {
      content: 'MP3';
      background: #bf2f61;
      .file-icons;
    }
  }
  .ppt, .pptx {
    &:after {
      content: 'PPT';
      background: #cd6632;
      .file-icons;
    }
  }
  .doc, .docx {
    &:after {
      content: 'DOC';
      background: #407abd;
      .file-icons;
    }
  }

/* wraps meta info about docs */
  .doc-meta-all {
    display: block;
    margin-bottom: @line-height-computed / 2;
    &.inline {
    display: inline;
    margin-left: 0px;}
  }

/* meta info about docs */

  .doc-date {
    .post-meta-info;
    &:before {
      content: 'Date: ';
    }
  }
  .doc-size {
    .post-meta-info;
    &:before {
      content: 'Size: ';
    }
  }
  .doc-version {
    .post-meta-info;
    &:before {
      content: 'Version: ';

    }
  }
  .doc-tags {
    .post-meta-info;
    font-style: normal;
    display: block;
    .tags;
  }

.post-meta-info {
  /* is applied to all document meta info */
  &:before {
    font-weight: normal;
  }
  font-size: @font-size-base * .9;
  color: lighten(@text-color, 15%);
  font-style: italic;
  font-weight: bold;

  padding-right: 5px;
}

/* common look for tags */
.tags {
  > a {
    padding: 0 5px 1px;
    margin: 0px 5px 0px 0px ;
    font-size: @font-size-base * .7;
    font-weight: bold;
    border-radius: 8px;
    background-color: lighten(@gray-light, 10%);
    color: #fff;
    text-decoration: none;
    display: inline-block;
    &:hover {
      background-color: @gray-light;
      text-decoration: none;
    }
  }
}





/*****
Post lists and news feeds
******/

.news-name {
  font-weight: bold;
}
.news-title {
  font-style: italic;
}
.news-phone {

}
.news-email {

}

.news-name, .news-title, .news-phone, .news-email {
  display: block;
}

/* news content */
.news-subheading {
  margin-top: 0px;
  font-size: (@font-size-base * 1.7);
}

/* news item list */
.item-sub-title {
  margin-top: -10px;
  margin-bottom: 0px;
  font-weight: bold;
}

.news-date {
  margin-bottom: 0px;
font-style: italic;
}


.archive-month li {
  margin-bottom: 5px;
  line-height: 5px;

}

.lists-none {
ul {
  margin: 0;
  padding: 0;
}

  li:before {
    border: none;
    left: 0;
    position: relative;
    top: 0;
    width: 0;
}
  li {
    margin-bottom: (@line-height-computed);
  }
}

div.listing-module{
  .lists-none;
  h3 {
   /*  margin-bottom: (@line-height-computed* 1.25); What the hell was this put here for????? */
  }
  h4.item-title {
    margin-bottom: (@line-height-computed / 4);
  }
  li.item {
    margin-bottom: (@line-height-computed * 1.25);
  }
  p .item-date {
    font-style: italic;
  }
  p,  p.item-info {
    margin: 0;
  }
}
