@charset "UTF-8";

 
.uw-campus:before { content: '\e800'; } /* '' */
.uw-staff:before { content: '\e801'; } /* '' */
.uw-wisco:before { content: '\e802'; } /* '' */
.uw-uw-mark:before { content: '\e803'; } /* '' */
.uw-mail-alt:before { content: '\e804'; } /* '' */
.uw-phone:before { content: '\e805'; } /* '' */
.uw-doc-text-inv:before { content: '\e806'; } /* '' */
.uw-cog-alt:before { content: '\e807'; } /* '' */
.uw-link-ext:before { content: '\e808'; } /* '' */
.uw-link-ext-alt:before { content: '\e809'; } /* '' */
.uw-help-circled:before { content: '\e80a'; } /* '' */
.uw-info-circled:before { content: '\e80b'; } /* '' */
.uw-home:before { content: '\e80c'; } /* '' */
.uw-doc:before { content: '\e80d'; } /* '' */
.uw-chat:before { content: '\e80e'; } /* '' */
.uw-hammer:before { content: '\e80f'; } /* '' */
.uw-right-circled:before { content: '\e810'; } /* '' */
.uw-left-circled:before { content: '\e811'; } /* '' */
.uw-search:before { content: '\e812'; } /* '' */
.uw-square:before { content: '\e813'; } /* '' */
.uw-megaphone:before { content: '\e814'; } /* '' */
.uw-book:before { content: '\e815'; } /* '' */
.uw-book-1:before { content: '\e816'; } /* '' */
.uw-book-2:before { content: '\e817'; } /* '' */
.uw-bookmark:before { content: '\e818'; } /* '' */
.uw-institution:before { content: '\e819'; } /* '' */
.uw-money:before { content: '\e81a'; } /* '' */
.uw-key:before { content: '\e81b'; } /* '' */
.uw-graduation-cap:before { content: '\e81c'; } /* '' */
.uw-star:before { content: '\e81d'; } /* '' */
.uw-star-circled:before { content: '\e81e'; } /* '' */
.uw-resize-full:before { content: '\e81f'; } /* '' */
.uw-attention-circled:before { content: '\e820'; } /* '' */
.uw-resize-small:before { content: '\e821'; } /* '' */
.uw-down-open:before { content: '\e822'; } /* '' */
.uw-left-open:before { content: '\e823'; } /* '' */
.uw-right-open:before { content: '\e824'; } /* '' */
.uw-up-open:before { content: '\e825'; } /* '' */
.uw-down-dir:before { content: '\e826'; } /* '' */
.uw-up-dir:before { content: '\e827'; } /* '' */
.uw-left-dir:before { content: '\e828'; } /* '' */
.uw-right-dir:before { content: '\e829'; } /* '' */
.uw-minus-circled:before { content: '\e82a'; } /* '' */
.uw-twitter:before { content: '\f099'; } /* '' */
.uw-facebook:before { content: '\f09a'; } /* '' */
.uw-certificate:before { content: '\f0a3'; } /* '' */
.uw-gplus:before { content: '\f0d5'; } /* '' */
.uw-linkedin:before { content: '\f0e1'; } /* '' */
.uw-paste:before { content: '\f0ea'; } /* '' */
.uw-suitcase:before { content: '\f0f2'; } /* '' */
.uw-angle-double-left:before { content: '\f100'; } /* '' */
.uw-angle-double-right:before { content: '\f101'; } /* '' */
.uw-quote-left:before { content: '\f10d'; } /* '' */
.uw-quote-right:before { content: '\f10e'; } /* '' */
.uw-doc-inv:before { content: '\f15b'; } /* '' */
.uw-youtube-play:before { content: '\f16a'; } /* '' */
.uw-twitter-squared:before { content: '\f304'; } /* '' */
.uw-facebook-squared:before { content: '\f308'; } /* '' */
.uw-linkedin-squared:before { content: '\f30c'; } /* '' */
.uw-globe:before { content: '🌎'; } /* '\1f30e' */
.uw-leaf:before { content: '🍂'; } /* '\1f342' */
.uw-award:before { content: '🏉'; } /* '\1f3c9' */
.uw-briefcase:before { content: '💼'; } /* '\1f4bc' */
.uw-floppy:before { content: '💾'; } /* '\1f4be' */
.uw-chart-bar:before { content: '📊'; } /* '\1f4ca' */